.logo {
    background-image: url("logo.png");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

.menu-list {
    margin-left: 40px;
}

.home-page {
    height: 100%;
}

.profile-picture {
    background-image: url("ahmad.jpg");
    background-size: cover;
    height: 700px;
}

.about {
    margin-top: 3%;
    margin-left: 5%;

  }
